.cube-solver {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
.cube-solver .App {
  height: 100vh;
  overflow-y: auto;
}
.cube-solver .app__container {
  overflow-y: auto;
  height: 100vh;
}
.cube-solver .flex__center--row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cube-solver .flex__center--col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
